<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.dao.CustomerMapper">

    <!--查询指定客户信息-->
    <select id="findByAuthId" parameterType="java.lang.String" resultType="Customer">
        SELECT id,typeId,name,authId,authPass,balance,createTime,timestamp,status
        FROM qydata.Customer WHERE authId=#{authId}
    </select>
    <!--插入新客户真是账号-->
    <insert id="insertCustomer" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
        insert into qydata.Customer(typeId,name,authId,authPass,balance,createTime,status)
        values(1,#{name},#{authId},uuid(),0,sysdate(),0)

        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <!--插入新客户测试账号-->
    <insert id="insertCustomerTest" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
        insert into qydata.Customer(typeId,name,authId,authPass,balance,createTime,status)
        values(2,#{name},#{authId},uuid(),100000000,sysdate(),0)

        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <!--查询当前登录着可见的客户信息并分页显示-->
    <select id="findCustomerByAdminId" parameterType="java.lang.Integer" resultType="Customer">
        select id,typeId,name,authId,authPass,balance,createTime,timestamp,status
        from qydata.Customer
        where id in (
                        select customerId
                        from qyauth.CustomerDeptAdmin
                        where adminId=#{param3})
        limit #{param1},#{param2}
    </select>
    <!--统计当前登陆者可见客户的所有数据-->
    <select id="getAllCountByAdminId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(id)
        from qydata.Customer
        where id in (
                        select customerId
                        from qyauth.CustomerDeptAdmin
                        where adminId=#{param})
    </select>
    <!--插入Ip-->
    <insert id="insertCustomerIp" parameterType="CustomerIp">
        insert into qydata.CustomerIp(customerId,beginIp,endIp,beginIpRaw,endIpRaw)
        values(#{customerId},#{beginIp},#{endIp},#{beginIpRaw},#{endIpRaw})
    </insert>
    <!--查询全部的CustomerBalanceModifyReason-->
    <select id="findAll" resultType="CustomerBalanceModifyReason">
        select id,name
        from qydata.CustomerBalanceModifyReason
    </select>



    <!--&lt;!&ndash;查询所有客户信息&ndash;&gt;-->
   <!--<select id="selectAllCustomer" parameterType="java.lang.Integer" resultType="Customer">-->
        <!--SELECT id,typeId,name,authId,authPass,balance,createTime,timestamp,status-->
        <!--FROM customer limit #{param1},#{param2}-->
    <!--</select>-->
    <!--&lt;!&ndash;查询总数据量&ndash;&gt;-->
    <!--<select id="getAllCount" resultType="java.lang.Integer">-->
        <!--SELECT COUNT(id) FROM customer-->
    <!--</select>-->
    <!--&lt;!&ndash;删除客户信息&ndash;&gt;-->
    <!--<delete id="deleteCustomer" parameterType="java.lang.Integer">-->
        <!--DELETE FROM customer WHERE id=#{id}-->
    <!--</delete>-->

</mapper>