<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.dao.CustomerMapper">

    <resultMap type="Customer" id="Customer_CustomerType_CustomerStatus_Admin">
        <result column="id" property="id"/>
        <result column="typeId" property="typeId"/>
        <result column="name" property="name"/>
        <result column="authId" property="authId"/>
        <result column="authPass" property="authPass"/>
        <result column="balance" property="balance"/>
        <result column="status" property="status"/>
        <result column="createTime" property="createTime"/>
        <association property="customerType" javaType="CustomerType">
            <id column="qctname" property="name"/>
        </association>
        <association property="customerStatus" javaType="CustomerStatus">
            <id column="qcsname" property="name"/>
        </association>
        <association property="admin" javaType="Admin">
            <id column="adminName" property="name"/>
        </association>
    </resultMap>
    <!--查询指定客户信息-->
    <select id="findByAuthId" parameterType="java.lang.String" resultType="Customer">
        SELECT id,typeId,name,authId,authPass,balance,createTime,timestamp,status
        FROM qydata.Customer WHERE authId=#{authId}
    </select>
    <!--插入新客户真是账号-->
    <insert id="insertCustomer" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
        insert into qydata.Customer(typeId,name,authId,authPass,balance,createTime,status)
        values(1,#{name},#{authId},uuid(),0,sysdate(),0)

        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <!--插入新客户测试账号-->
    <insert id="insertCustomerTest" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
        insert into qydata.Customer(typeId,name,authId,authPass,balance,createTime,status)
        values(2,#{name},#{authId},uuid(),100000000,sysdate(),0)

        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <!--查询当前登录着可见的客户信息并分页显示-->
    <select id="findAllCustomer" parameterType="java.util.Map" resultMap="Customer_CustomerType_CustomerStatus_Admin">
        select c.id,c.typeId,c.name,c.authId,c.authPass,c.balance,c.status,c.createTime,c.qctname,c.qcsname,a.name adminName
        from qyauth.CustomerDeptAdmin cda,qyauth.Admin a,(select qc.id,qc.typeId,qc.name,qc.authId,qc.authPass,qc.balance,qc.createTime,qc.timestamp,qc.status,qct.name qctname,qcs.name qcsname
                                                          from qydata.Customer qc,qydata.CustomerType qct,qydata.CustomerStatus qcs
                                                          where qc.typeId=qct.id and qc.status=qcs.id and qc.id in
                                                          (
                                                          select customerId
                                                          from qyauth.CustomerDeptAdmin
                                                            <where>
                                                            <if test="adminId!=null and adminId!=''">
                                                            and adminId=#{adminId}
                                                            </if>
                                                            <if test="deptNo!=null and deptNo!=''">
                                                            and deptNo=#{deptNo}
                                                            </if>
                                                            </where>
                                                          )) c
        where cda.customerId=c.id and cda.adminId=a.id
                                                        <if test="adminId!=null and adminId!=''">
                                                          and cda.adminId=#{adminId}
                                                        </if>
                                                        <if test="deptNo!=null and deptNo!=''">
                                                          and cda.deptNo=#{deptNo}
                                                        </if>
        limit #{beginIndex},#{line}
    </select>
    <!--统计当前登陆者可见客户的所有数据-->
    <select id="getAllCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(id)
        from qydata.Customer
        where id in (
                        select customerId
                        from qyauth.CustomerDeptAdmin
                          <where>
                            <if test="adminId!=null and adminId!=''">
                            and adminId=#{adminId}
                            </if>
                            <if test="deptNo!=null and deptNo!=''">
                            and deptNo=#{deptNo}
                            </if>
                          </where>
                      )
    </select>
    <!--插入Ip-->
    <insert id="insertCustomerIp" parameterType="CustomerIp">
        insert into qydata.CustomerIp(customerId,beginIp,endIp,beginIpRaw,endIpRaw)
        values(#{customerId},#{beginIp},#{endIp},#{beginIpRaw},#{endIpRaw})
    </insert>
    <!--查询全部的CustomerBalanceModifyReason-->
    <select id="findAll" resultType="CustomerBalanceModifyReason">
        select id,name
        from qydata.CustomerBalanceModifyReason
    </select>
    <!--查询客户Ip-->
    <select id="findAllIpByCustomerId" parameterType="java.util.Map" resultType="CustomerIp">
        select id,customerId,beginIp,endIp,beginIpRaw,endIpRaw
        from qydata.CustomerIp
        where customerId=#{customerId}
        limit #{beginIndex},#{line}
    </select>
    <!--根据客户Id获取总数据量-->
    <select id="getAllCountByCustomerId" parameterType="java.util.Map" resultType="java.lang.Integer">
      select count(id) from qydata.CustomerIp where customerId=#{customerId}
    </select>
    <!--根据Id删除Ip-->
    <delete id="deleteIpById" parameterType="java.lang.Integer">
        delete from qydata.CustomerIp where id=#{param}
    </delete>
    <!--根据账户修改余额-->
    <update id="updateBalanceByAuthId" parameterType="java.util.Map">
        update from qydata.Customer set balance=#{amount} where authId=#{authId}
    </update>



    <!--&lt;!&ndash;查询所有客户信息&ndash;&gt;-->
   <!--<select id="selectAllCustomer" parameterType="java.lang.Integer" resultType="Customer">-->
        <!--SELECT id,typeId,name,authId,authPass,balance,createTime,timestamp,status-->
        <!--FROM customer limit #{param1},#{param2}-->
    <!--</select>-->
    <!--&lt;!&ndash;查询总数据量&ndash;&gt;-->
    <!--<select id="getAllCount" resultType="java.lang.Integer">-->
        <!--SELECT COUNT(id) FROM customer-->
    <!--</select>-->
    <!--&lt;!&ndash;删除客户信息&ndash;&gt;-->
    <!--<delete id="deleteCustomer" parameterType="java.lang.Integer">-->
        <!--DELETE FROM customer WHERE id=#{id}-->
    <!--</delete>-->

</mapper>